---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <a href="" class="gpt-title" style="">Welcome to gxy's</a>
    <div class="title">
      <a href="" class="gpt-title">Gemini</a>
      <a href="" class="gpt-subtitle">Chat</a>
    </div>
  </div>
  <p mt-1 op-60>
    <!-- Based on
    <a href=""> Gemini API.</a> -->
    <a href="https://github.com/251arq/GeminiProChat" class="font-bold">Source code</a>
  </p>
</header>
